<h1>LOG IN</h1>

 <div class="alert">
       <center><%= flash[:danger] %></center> 
      </div>

<div class="wrapper form">
<%= form_tag signin_path do %>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

<div class="field">
  <%= label_tag :first_name %><br>
<%= text_field_tag :first_name %>
  </div>

  <div class="field">
   <%= label_tag :password %><br>
<%= password_field_tag :password %>
  </div> 

  <div class="actions">
  <%= submit_tag "Log In" %><%= link_to '', root_path %>
  </div>
  <div>
   New User? <%= link_to "Sign Up", signup_path %>
  </div>
  
<% end %>
</div>
<%= link_to 'logout', logout_path %>