<div class="wrapper form">
	

	<p id="notice"><%= notice %></p>

	<p>
		<strong>First name:</strong>
		<%= @user.first_name %>
	</p>

	<p>
		<strong>Last name:</strong>
		<%= @user.last_name %>
	</p>

	<p>
		<strong>Email:</strong>
		<%= @user.email %>
	</p>

	<p>
		<strong>Password:</strong>
		<%= @user.password %>
	</p>
	<p>
		<strong>
			<% if @user.charges.count == 0 %>
			<%= "You have no transactions" %> <br>
			
			<%else%>
			<h3><%= pluralize(@user.charges.count, 'Transaction') %></h3>
			<ul>
				<% @user.charges.each do |trans| %>
				<li><%= link_to trans.product.name, product_path(trans) %></li>
				<% end %>
				<%end%>
			</ul>
			<% if current_user %>
Logged in as <%= current_user.first_name %>
<% else %>

			<%= link_to 'Log in', signin_path %>
			<%end%>

		</strong>
	</p>
	
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Home', root_path %>
