<div class="wrapper form">

<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @transaction.total %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @transaction.product_id %>
</p>
</div>

<%= link_to 'Edit', edit_admin_transaction_path(@transaction) %> |
<%= link_to 'Back', admin_transactions_path %>
