
<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="wrapper">

    <% @products.each do |product| %>
    <section id="promotional" class="col-1 first shadow">
          <figure>
    <%= image_tag("#{product.imageURL}", :alt => "Product Image",:class => "img-product") %>
    </figure>
      <h3><%= product.name %></h3>
      <h3><%= product.price %>$</h3>
      <h4><%= product.size %></h4>
       <td><%= link_to 'see more', product %></td>
     </section>
    <% end %>
  
</div>
<br>

<%= link_to 'New Product', new_product_path %>

